<h1>Tweets:</h1>
  <form>
    <div class="form-group">
      <label for="new-tweet">Tweet</label>
      {{textarea value=new-tweet name="new-tweet" id="new-tweet" class="form-control" rows=2}}
    </div>

    <button class="btn btn-primary" {{action 'tweet'}}>Tweet</button>

  </form>
<ul>
  {{#each post in this}}
    <li>{{#link-to 'tweet' post.id}}{{post.tweet}}{{/link-to}}</li>
  {{/each}}
</ul>
